<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ chatname }}</title>
</head>
<body>
    <div id="backButton">
        <form action="/home">
            <input type="submit" value="back"/>
        </form>
    </div>
    <br/>
    <div id="messageList">
        <table>
            {% for message in messages %}
                <tr>
                    <td><b>{{ message['uName'] }}:</b></td>
                    <td>{{ message['content'] }}</td>
                </tr>
            {% end %}
        </table>
    </div>
    <br/>
    <div id="messageInput">
        <form method="post" id="messageForm">
            <table>
                <tr>
                    <td>
                        <input name="body" id="message">
                    </td>
                    <td>
                        <input type="submit" value="send">
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</html>
