<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TeamChat</title>
</head>
<body>
    <div id="greeting">
        <p>
            Hello, {{ email }}
        </p>
    </div>
    <div id="chatList">
        <table>
            {% for chat in chats %}
                <tr>
                    <td><a href="/chat/{{ chat['ID'] }}">{{ chat['name'] }}</a></td>
                </tr>
            {% end %}
        </table>
    </div>
    <br/>
    <div id="logoutForm">
        <form action="/logout" method="post">
            <input type="submit" value="logout">
            {% module xsrf_form_html() %}
        </form>
    </div>
</body>
</html>
