<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TeamChat</title>
</head>
<body>
    <div>
        <p>
            Hello, {{ email }}
        </p>
    </div>
    <div>
        <table>
            {% for chat in chats %}
                <tr>
                    <td>{{ chat['name'] }}</td>
                </tr>
            {% end %}
        </table>
    </div>
    <br/>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
        </form>
    </div>
</body>
</html>
