<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TeamChat</title>
    <link rel="stylesheet" href="{{ static_url("style.css")}}">
</head>
<body>
    <div id="loginForm">
        <table>
            <form action="/login" method="post">
                <tr>
                    <td>email: </td>
                    <td><input type="text" name="email" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>password: </td>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td><input type="submit" value="sign in"></td>
                </tr>
                {% module xsrf_form_html() %}
            </form>
            <tr>
                <td>{{ message }}</td>
            </tr>
        </table>
    </div>
</body>
</html>
