body {
    background-color: inherit;
    padding-top: 25px;
    padding-bottom: 40px;
}

html {
    font-family: 'Helvetica';
}

.form-login {
  max-width: 330px;
  margin: 0 auto;
}

.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#landingpage {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 250px;
    text-align: center;
}

.form-loginbutton {
    padding-top: 10px;
}

.form-loginbutton #loginButton {
    background-color: #ffffff;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;

}

.heading {
    font-family: 'Helvetica';
    font-weight: bolder;
}

.form-newuser {
    max-width: 330px;
    padding-top: 10px;
}

.form-notlogout {
    padding-top: 10px;
}

.form-adduser {
    padding-bottom: 10px;
    padding-top: 10px;
}

#chatList {
    padding-top: 10px;
}

#messageDiv {
    position: relative;
    top: 0;
}

#messageInput {
    position: sticky;
    bottom: -5;
    padding-bottom: 1;
}
